@import './variables.css';

/* Prevenir desbordamiento horizontal */
html,
body {
  overflow-x: hidden;
  width: 100%;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

/* Estilos base del cuerpo */
body {
  font-size: var(--font-size-md);
  color: var(--text-dark);
  background-color: var(--bg-white);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Clases de utilidad reutilizables */
.btn {
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: .8;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--text-light);
}

.btn-success {
  background-color: var(--color-success);
  color: var(--text-light);
}

.pageContent {
  line-height: 1.5;
}

.pageContent h2 {
  margin-bottom: 1.25rem;
}

.pageContent h3 {
  margin: 1.15rem 0;
}

.pageContent p {
  margin: 1rem 0;
}

.link {
  position: relative;
  display: inline-block;
  color: var(--text-dark);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: var(--text-dark);
  transition: width 0.5s;
}

.link:hover::after {
  width: 100%;
}

/* Estilo para que no se pueda hacer scroll cuando el menú hamburguesa esté abierto */
.noScroll {
  overflow: hidden !important;
  height: 100vh !important;
}