.cart {
  margin-top: 1.5rem;
  color: var(--text-dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.cartItems {
  padding: 0 1rem;
  width: 65%;
}

.cartItemsHeader {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.emptyCartMessage {
  color: var(--text-dark);
  font-size: 1.2rem;
  text-align: center;
  margin-top: 3rem;
}

.cartItemsDetails {
  margin-bottom: 1.5rem;
}

.products {}

.productItem {}

.cartActions {
  max-width: 350px;
  margin-bottom: 1.5rem;
}

.cartActionButton {
  display: flex;
  align-items: center;
  gap: .5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-dark);
  font-size: 1rem;
  margin-top: 1rem;
}

.promotionalCodeText,
.cartNote {
  margin-top: .5rem;
  padding: .5rem .75rem;
  font-size: 1rem;
  border: 1px solid var(--text-dark);
  border-radius: 2px;
}

.promotionalCodeText {
  width: 180px;
}

.promotionalCodeButton {
  background-color: var(--bg-light);
  color: var(--text-dark);
  padding: .5rem 1.25rem;
  font-size: 1rem;
  border: 1px solid var(--text-dark);
  cursor: pointer;
  margin-left: .5rem;
}

.cartNote {
  width: 100%;
  overflow: hidden;
  resize: none;
  font-family: var(--font-family);
}

.cartSummary {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.cartSummarySubtotal {
  margin-bottom: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--border-color);
}

.cartSummarySubtotal dl,
.cartSummaryTotal dl {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: var(--text-dark);
  padding: 0 .5rem;

}

.calculateShipping {
  background-color: var(--bg-white);
  color: var(--text-dark);
  border: none;
  border-bottom: 1px solid var(--text-dark);
  text-align: left;
  margin: .5rem 0;
  cursor: pointer;
}

.calculateShipping:hover {
  opacity: .8;
}

.finalizePurchase {
  background-color: var(--bg-dark);
  color: var(--text-light);
  border: none;
  padding: .5rem 0;
  margin-top: 1rem;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}

.finalizePurchase:hover {
  opacity: .8;
}

.securePayment {
  margin-top: 1rem;
  text-align: center;
}
